---
{% for cronjob_name in cronjob_names %}

apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{cronjob_name}}
  namespace: dev
spec:
  schedule: "0,15,30,45 * * * 0-6" #"0 3,22 * * 1-5" -- summer -- "0 2,23 * * 1-5" during winter GMT <Mins> <HourinGMT> <DayofMonth> <Month> <DayofWeek> Ex run 1 pm GMT every monday * 13 * * 1
  jobTemplate:
      spec:
        template:
          spec:
            tolerations:
              - key: nodename
                operator: Equal
                value: {{cronjob_name}}
                effect: NoSchedule
            containers:
            - name: {{cronjob_name}}
              image: {{cron_image_latest}}
              env:
              - name: nodenumber
                value: {{cronjob_name}}
              imagePullPolicy: Always
              volumeMounts:          
              - name: dacredsvolume
                mountPath: /etc/dacreds
            volumes:
            - name: dacredsvolume
              secret:
                secretName: spn-creds
            restartPolicy: OnFailure
---
{% endfor %}